body {
    color: #05B0FE;
    background-color: bisque;
    font-family: 'Libre Baskerville', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Text', serif;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

header {
    text-align: center;
    border: 3px solid black;
    border-color: #05B0FE;
    padding: 1px;
}

#hero {
    text-align: center;
}

#hero img {
    text-align: center;
}

#footer {
    text-align: center;
    border: 3px solid black;
    border-color: #05B0FE;
    padding: 1px;
}

#gallery {
    text-align: center;
    border: 2px solid #05B0FE;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

#lit {
    border: 2px solid #05B0FE;
    margin-bottom:2rem ;
}

#lit div{
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#wants {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goals {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
#lit div p:first-child::first-letter{
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65em;
    border: 4px outset black;
    box-shadow: 2px 2px 3px;
    box-shadow:5px,5px,5px;
    border-top-left-radius:.2em;
    border-bottom-right-radius:.2em;

}

figure img {
    width:100%;
}

#lit div {
    max-width: 100%;
columns: 20rem;
}

@media screen and (min-width:100em) {
    gallery {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:30em) {
    #myVideo { max-width: 80%;}

}

