body {
    color: #05B0FE;
    background-color: bisque;
    font-family: 'Libre Baskerville', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crimson Text', serif;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

header {
    text-align: center;
    border: 3px solid black;
    border-color: #05B0FE;
    padding: 1px;
}

#hero {
    text-align: center;
}

#hero img {
    text-align: center;
}

#footer {
    text-align: center;
    border: 3px solid black;
    border-color: #05B0FE;
    padding: 1px;
}

#gallery {
    text-align: center;
    border: 2px solid #05B0FE;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

#lit {
    border: 2px solid #05B0FE;
    margin-bottom:2rem ;
}

#lit div{
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}